.metric-details-modal .modal-content {
  border: none;
}
.metric-modal-header {
  padding: 15px 24px;
  background: #f8f9ff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.metric-modal-header h4 {
  font-weight: 600 !important;
  margin: 0;
  font-size: 1.1rem;
}
.metric-modal-header span {
  /* color: #64748b; */
  font-size: 14px;
}

.metric-details-modal .table thead th {
  background: #f8f9ff;
  font-weight: 600;
}

.table td,
.table th {
  vertical-align: middle;
}
.metrictable tbody {
  display: block;
  max-height: 360px;
  overflow-y: auto;
}
.metrictable thead {
  display: table-header-group;
  position: sticky;
  top: 0;
  z-index: 4;
  background: #ffffff;
}
.metrictable thead tr,
.metrictable tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.metrictable th {
  color: #000;
}
.metrictable thead th {
  padding: 10px 22px;
}
