.create-requisition-page {
  background: #f6f7fb;
  padding: 34px;
  min-height: 100vh;
}

/* Card */
.create-requisition-page .requisition-card {
  border-radius: 12px;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

/* Section title */
.create-requisition-page .section-title {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 0px !important;
}

.create-requisition-page .section-title h6 {
  margin: 0;
  color: var(--app-secondary-color);
  font-weight: 500;
  font-size: 1.125em;
}

.create-requisition-page .indicator {
  width: 4px;
  height: 20px;
  background: #f36f21;
  margin-right: 10px;
  border-radius: 2px;
}

/* Upload box */
.create-requisition-page .upload-box {
  border: 1px dashed #cfd4dc;
  border-radius: 8px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6c757d;
  cursor: pointer;
}

.create-requisition-page .upload-icon {
  font-size: 28px;
  margin-bottom: 10px;
}

.create-requisition-page .upload-link {
  color: #42579f;
  font-weight: 500;
  cursor: pointer;
}

/* Date input */
.create-requisition-page .date-input {
  position: relative;
}

.create-requisition-page .date-input svg {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6c757d;
}

/* Footer */
.create-requisition-page .footer-actions {
  background: #fff;
  padding: 16px 24px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  border-radius: 10px;
}

.create-requisition-page .primary-btn {
  background: #f36f21;
  border: none;
  padding: 6px 20px;
  font-weight: 500;
}

.create-requisition-page .primary-btn:hover {
  background: #e85f10;
}

.create-requisition-page .form-control,
.form-select {
  border-radius: 6px;
  font-size: 0.875em;
  font-weight: 400;
}
.create-requisition-page .form-label {
  font-weight: 500;
  color: #333333;
  margin-bottom: 0.5rem;
  font-size: 0.875em;
}
.create-requisition-page .form-text {
  font-size: 0.785em;
  color: #828282 !important;
}

