.requisition-strip {
  background: #ffffff;
  border: 1px solid #e3e6ef;
  border-radius: 8px;
  /* padding: 14px 18px;
  display: flex; */
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 14px;
}

.requisition-strip-no-card {
  border-radius: 8px;
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT SIDE */
.req-left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.req-code {
  font-size: 0.875rem;
  font-weight: 500;
  color: #f26522;
}

.req-dates {
  display: flex;
  gap: 18px;
  font-size: 12px;
  color: var(--app-secondary-color);
}

.req-dates i {
  color: var(--app-secondary-color);
  font-size: 12px;
}

.req-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--app-secondary-color);
}

/* RIGHT SIDE */
.req-right {
  display: flex;
  align-items: center;
}

.btn-view-position {
  background: #ffffff;
  color: var(--app-secondary-color);
  border: 1px solid var(--app-secondary-color);
  border-radius: 6px;
  padding: 6px 14px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.btn-view-position:hover {
  background: var(--app-secondary-color);
  color: #ffffff;
}

.req-position-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 6px;
}

.req-position-chip {
  display: inline-flex;
  align-items: center;
  gap: 5px;

  background: #e2e2e2;
  border: 1px solid #cfcfcf;

  padding: 2px 8px;

  border-radius: 2px;

  width: fit-content;

  font-size: 12px;
  font-weight: 400;

  min-height: 24px;
}

.req-position-close {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 4px;

  width: 16px;
  height: 16px;

  border-radius: 2px;

  font-size: 12px;
  font-weight: 700;

  color: #333;

  cursor: pointer;

  transition: background 0.2s ease;
}

.req-position-close:hover {
  background: #ffbdad;
  color: #de350b;
}

.req-position-text {
  white-space: nowrap;
}

.req-position-readonly {
  pointer-events: none;
}

.req-position-readonly .req-position-close {
  display: none !important;
}

